#yt-summary-extension-container {
  height: 400px;
  width: 400px;
}

#yt-script-bar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  width: 410px;
  background-color: rgb(154, 166, 202);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#yt-script-bar-btn {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  font-size: large;
  font-weight: 800;
  color: white;
  background-color: rgb(154, 166, 202);
  border: none;
}
#yt-script-bar-btn:hover {
  color: black;
}

#yt-script-container {
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  padding: 10px 5px;
  overflow-y: scroll;
}
#yt-script-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  height: 100%;
}
#yt-script-container::-webkit-scrollbar-thumb {
  background-color: rgb(154, 166, 202);
  height: 5vh;
  border-radius: 10px;
}
#yt-script-container::-webkit-scrollbar-track {
  background-color: whitesmoke;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#yt-script-container section {
  box-sizing: border-box;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: 500;
  /* border-bottom: 1px solid rgb(154, 166, 202); */
}
#yt-script-container section:hover {
  background-color: rgb(154, 166, 202, 0.3);
  cursor: pointer;
}

#yt-script-container hr {
  background-color: rgb(154, 166, 202);
}

.ytp-chapter-bar {
  height: 10px;
  box-sizing: border-box;
  border-left: 3px solid yellow;
  background: transparent;
  /* background-color: rgb(154, 166, 202); */
}
.ytp-chapter-bar:hover {
  height: 20px;
}
