@import "./root.css";
@import "./loader.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Noto+Sans+KR&display=swap");

#script-view {
  width: 400px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#script-view-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 410px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

#script-view-header span {
  font-size: x-large;
  margin-left: 20px;
}

#script-view-header-title {
  font-weight: 800;
}

#script-view-header-info-icon {
  background-color: var(--color-black);
  border: 2px solid var(--color-white);
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

#script-view-header-info-icon:hover {
  cursor: pointer;
}

#script-view-header-info-icon-text {
  background-color: var(--color-black);
  color: var(--color-white);
  visibility: hidden;
  position: absolute;
  top: -10px;
  border: 1px solid var(--color-white);
  padding: 10px;
}

#script-view-header-btn {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: large;
  font-weight: 800;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
}

#script-view-header-btn:hover {
  cursor: pointer;
}

#script-view-header-btn svg {
  fill: var(--color-white);
}

#script-view-body {
  display: none;
  height: 350px;
  width: 100%;
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  font-size: 12px;
  padding: 10px 5px;
  overflow-y: scroll;
}
#script-view-body::-webkit-scrollbar {
  width: 2px;
  height: 100%;
}
#script-view-body::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  height: 5vh;
}
#script-view-body::-webkit-scrollbar-track {
  background-color: var(--color-black);
  height: 100%;
}

#script-view-body section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-white);
  border-right: 5px solid var(--color-black);
  padding: 10px 5px;
  font-size: 12px;
  font-weight: 500;
  /* border-bottom: 1px solid var(--color-main); */
}

#script-view-body section span {
  display: block;
  width: 80%;
  font-size: larger;
}

#script-view-body section button {
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 10%;
  font-size: medium;
}

#script-view-body hr {
  border: none;
  border-top: 3px double var(--color-white);
  color: var(--color-white);
  overflow: visible;
  margin-left: 10px;
  height: 5px;
  width: 95%;
}

#script-view-body hr::after {
  background-color: var(--color-black);
}

.ytp-chapter-bar {
  height: 10px;
  box-sizing: border-box;
  border-left: 3px solid yellow;
  background: transparent;
  /* background-color: var(--color-main); */
}
.ytp-chapter-bar:hover {
  height: 20px;
}

.videoLink {
  border: none;
  background-color: var(--color-white);
  color: var(--color-blue);
}
.videoLink:hover {
  cursor: pointer;
}

/* 영상 재생바 */

#custom-bar {
  display: flex;
  height: 10px;
  width: 100%;
  position: absolute;
  top: -3px;
}

#custom-bar div {
  display: inline;
  height: 10px;
  box-sizing: border-box;
  border-left: 3px solid yellow;
  background: transparent;
}
