@import "./root.css";

#script-view {
  /* height: 400px; */
  width: 400px;
  margin-bottom: 10px;
}

#script-view-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 410px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

#script-view-header span {
  font-size: x-large;
  margin-left: 20px;
}

#script-view-header-info-icon {
  background-color: var(--color-black);
  border: 2px solid var(--color-white);
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  margin-left: 10px;
}

#script-view-header-info-icon:hover {
  cursor: pointer;
}

#script-view-header-info-icon-text {
  background-color: var(--color-black);
  color: var(--color-white);
  visibility: hidden;
  position: absolute;
  top: -10px;
  border: 1px solid var(--color-white);
  padding: 10px;
}

#script-view-header-btn {
  position: absolute;
  right: 15px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  font-size: large;
  font-weight: 800;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
}

#script-view-header-btn svg {
  fill: var(--color-white);
}

#script-view-body {
  display: none;
  height: 350px;
  width: 100%;
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  font-size: 12px;
  padding: 10px 5px;
  overflow-y: scroll;
}
#script-view-body::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}
#script-view-body::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  height: 5vh;
}
#script-view-body::-webkit-scrollbar-track {
  background-color: var(--color-black);
  height: 100%;
}

#script-view-body section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-white);
  border-right: 5px solid var(--color-black);
  padding: 10px 5px;
  font-size: 12px;
  font-weight: 500;
  /* border-bottom: 1px solid var(--color-main); */
}

#script-view-body section span {
  display: block;
  width: 80%;
  font-size: larger;
}

#script-view-body section button {
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 10%;
  font-size: medium;
}

#script-view-body hr {
  background-color: var(--color-white);
}

.ytp-chapter-bar {
  height: 10px;
  box-sizing: border-box;
  border-left: 3px solid yellow;
  background: transparent;
  /* background-color: var(--color-main); */
}
.ytp-chapter-bar:hover {
  height: 20px;
}

.videoLink {
  border: none;
  background-color: var(--color-white);
  color: var(--color-blue);
}

/* loader */
#loader-container {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-spinner div {
  transform-origin: 40px 40px;
  animation: loader-spinner 1.2s linear infinite;
}
.loader-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--color-white);
}
.loader-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loader-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-comment {
  color: var(--color-white);
}

/* 영상 재생바 */

#custom-bar {
  display: flex;
  height: 10px;
  width: 100%;
  position: absolute;
  top: -3px;
}

#custom-bar div {
  display: inline;
  height: 10px;
  box-sizing: border-box;
  border-left: 3px solid yellow;
  background: transparent;
}
